@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html, body {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    size: 10px;
    line-height: 3.5em;
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
    font-family: Roboto Condensed;
}

h1 {
    size: 9em;
    text-align: center;
    transform: uppercase;
    font-size: 90px;
    margin: 0px;
}

h2{
    size: 5em;
    text-align: center;
    transform: uppercase;
    font-size: 2.5em;
    line-height: 4em;
    color: white;
    text-shadow: #020819 8px -20px 9px;
}

h3 {
    size: 4.2em;
    text-align: center;
    line-height: 1em;
    margin: 0px;
}

h4 {
    size: 1.5m;
    letter-spacing: 0.4px;
    line-height: 1em;
}

h5 {
    size: 1.2em;
    line-height: 1em;
}

.nav-bar {
    background: #182128;
    display: flex;
}

.nav-bar ul {
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    list-style-type: none
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.header {
    background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
    background-repeat: no-repeat;
    background-position: 0px 0;
    height: 650px;
    background-size: cover;
}

.quote {
    line-height: 3mm;
    height: 60px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin-left: 24%;
}

.quote aside {
    font-style: italic;
}

.general-information {
    background-color: #182127;
    color: white;
    display: flex;
    height: 325px;
    justify-content: space-evenly;
    align-items: center;
}

.general-information article {
    flex-direction: column;
    display: flex;
    height: 60%;
    align-items: center;
    text-decoration: none;
    text-decoration: solid;
    justify-content: center;
}

.general-information p {
    break-after: auto;
    text-align: center;
    width: 60%;
    line-height: initial;
}

.general-information li {
    background-color: #43a2e6;
    list-style: none;
    padding: 10px;
    margin: 16px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general-information a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.structure {
    justify-content: center;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.structure h3 {
    margin: 20px;
}

.structure img {
    width: 35%;
}

.sectionArticles {
    display: flex;
    height: 100%;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

.sectionArticles article {
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 32%;
    box-sizing: border-box;
    margin: 20px;
    text-align: center;
    border-style: groove;
    border-radius: 16px;
    line-height: initial;
}

.team {
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #182128;
    color: white;
}

.team h3 {
    font-size: -webkit-xxx-large;
}



.team p {
    margin: 0px;
    width: 30%;
    text-align: center;
    line-height: initial;
    border-bottom: solid;
    border-bottom-style: groove;
    line-height: 30px;
}


.teamImgs {
    display: flex;
    justify-content: center;
    height: 70%;
    align-items: center;
}


.teamImgs h4 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.team .teamImgs img {
    width: 50%;
    height: 80%;
    margin-top: 10px;
}

.schedule {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 500px;
}